body {
    background-color: black;
}

* {
    color: white;
    font-family: monospace;
}

.center {
    text-align: center;
}

.nav {
    padding: 14px 16px;
    font-size: 17px;
    background-color: #200040;
    overflow: hidden;
    white-space: true;
}

.nav a {
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: lightpink;
}

.box, .updates {
    background-color: #200040;
    width: 500;
    height: 250;

    padding: 10px;
    margin: 20px;
}

.code {
    background-color: #3f3f3f;

    padding: 10px;
    margin: 20px;
}